div{
  /*border: 3px solid red;*/
}
.header{
  display: inline-flex;
  background-color: white;
  width: 100%;
}

.header.text{

  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
}

.header.text.special{
  color: MediumAquamarine;
  margin: 20px 10px;
}

.navigation{
  color: black;
  display: inline-block;
  margin: 20px 30px 20px 0px;
  justify-content: flex-end;
  /*text-decoration: underline;*/
}

.header.text.navigation span{
  margin: 20px;
}
.logo{

}

.special{
  color: red;
}

.main{
  display:inline-flex;
  /*width: 100%;*/
}
.column{
  margin: 5px;
  display:block;
  /*display: flex;
  flex-direction: column;*/
}
.column.large {
  width: 630px;
  display:flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.tuna{
  background-image: url('../images/img-story-main.png');
  min-height: 300px;
}

.earth{
  background-image: url('../images/img-story-2.png');
  min-height: 300px;
}

.camera{
  background-image: url('../images/img-story-3.png');
  min-height: 300px;
}

.cats{
  background-image: url('../images/img-story-1.png');
  min-height: 300px;
}

.text{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.headline{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.overlay{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.top{
  font-size: 40px;
}

.stories{
  display: flex;
  width: 630px;
  justify-content: space-between;
}

p{
  display: block;
}

.story{
  display: flex;
  flex-direction: column;
  width:300px;
}

.bites{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

ul{
  list-style: none;
}

.bite{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  border-bottom: black 1px solid;
  /*width: 200px;*/
  padding: 11px 20px;
}

.footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 325px;
  flex-direction: column;
}

.title{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: white 2px solid;
  display: inline-block;
  padding-right: 25px;
}

.footer nav{
  display: inline-block;
  padding-left: 25px
}

.footer span{
  padding: 20px;
  display: inline-block;
}

.copyright{
  display: block;
}
